:root {
	--body-color: #161719;
	--textMenuHoverSubmenus-color: #7a7a7a;
	--foreground-color: #2a2c31;
	--menuHover-color: #232a2e;
	--submenus-color: #f3f3f3;
}

.Search-Sort {
	display: flex;
	column-gap: .5rem;
}

#search {
	background-image: url("search.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-bottom: 7.5px;
	padding-top: 7.5px;
}

#search::placeholder {
	color: white;
	font-weight: bold;
	font-size: large;
}

input {
	background-color: var(--foreground-color);
	font-size: 1rem;
	flex-grow: 1;
	color: white;
	border-radius: 5px;
	border: .2px solid #151c25;
	margin-left: 3px;
}

.item-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	gap: .40rem;
	margin-top: 2px;
	float: none;
	clear: both;
}

.card {
	border-radius: 5px;
	background-color: var(--foreground-color);
	padding: .4rem;
	font-size: large;
}

.header {
	word-wrap: break-word;
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: bold;
}

.image {
	float: left;
	max-width: 50%;
}

.hide {
	display: none;
}

body {
	background-color: var(--body-color);
}

.SortMenu ul,
.SortMenu li,
.SortMenu {
	margin: 0;
	padding: 0;
	display: block;
}

.SortMenu {
	z-index: 2;
}

.SortMenu ul {
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-52%);
	width: max-content;
	list-style: none;
}

.SortMenu li {
	padding-right: .5rem;
	padding-bottom: 10px;
	float: left;
	position: relative;
	width: auto;
}

.SortMenu a {
	background: var(--foreground-color);
	display: block;
	font-weight: bold;
	font-size: 12px;
	/* ajusté la taille de la police */
	font-family: 'Poppins', sans-serif;
	text-align: center;
	text-decoration: none;
	transition: all 0.7s ease;
	color: white;
	padding: 10px 20px;
	line-height: 1.2;
	height: 15.8px;
}

.SortMenu a:hover {
	background: var(--menuHover-color);
}

.SortMenu li:hover .SousMenuScrAZ a,
.SortMenu li:hover .SousMenuScrT a,
.SortMenu li:hover .SousMenuScrL a {
	color: var(--textMenuHoverSubmenus-color);
}

.SortMenuTextAZ,
.SortMenuTextT,
.SortMenuTextL {
	line-height: .6;
	border-radius: 5px;
}

#Sousmenu {
	z-index: 1;
	transition: all .2s ease;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 5px;
}

li:hover #Sousmenu {
	top: auto;
	opacity: 1;
	visibility: visible;
	max-height: 800px;
	transition: all .4s ease;
}

#Sousmenu li {
	padding-bottom: 0px;
	float: none;
	width: 100%;
	line-height: 0.2;
	width: 100%;
	transition: width 0.3s;
}

#Sousmenu li:hover {
	width: calc(100% - 5px);
}

#Sousmenu a:hover {
	transition: all .2s ease;
	color: black;
}

#Sousmenu a {
	background-color: var(--submenus-color);
}

.btn-afficher-plus {
	margin-top: .4rem;
	background-color: var(--foreground-color);
	font-size: 1rem;
	flex-grow: 1;
	color: white;
	border-radius: 5px;
	border: 1px solid var(--foreground-color);
}

.No-Results {
	color: white;
	font-weight: bold;
	font-size: 1rem;
}

.responsive-button {
	display: none;
}

@media only screen and (max-width: 474px) {
	.responsive-button {
		display: block;
	}
}