:root[color-mode="dark"] {
	--body-color: #161719;
	--textMenuHoverSubmenus-color: #7a7a7a;
	--foreground-color: #2a2c31;
	--menuHover-color: #2e373b;
	--submenus-color: #f3f3f3;
	--text-color: #ffffff;
}

:root[color-mode="light"] {
	--body-color: #ececec;
	--textMenuHoverSubmenus-color: #858585;
	--foreground-color: #d3d3d3;
	--menuHover-color: #c4c5d0;
	--submenus-color: #f3f3f3;
	--text-color: #303030;
}

:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

.Search-Sort{
	display: flex;
	column-gap: .5rem;
}

.search-wrapper {
	padding-bottom: 10px;
}

#search {
	background-image: url("search.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-bottom: 7.5px;
	padding-top: 7.5px;
}

#search::placeholder {
	color: var(--text-color);
	font-weight: bold;
	font-size: large;
}

input {
	background-color: var(--foreground-color);
	font-size: 1rem;
	flex-grow: 1;
	color: var(--text-color);
	border-radius: 5px;
	border: .2px solid var(--foreground-color);
	margin-left: 3px;
}

.Menu {
	color: var(--text-color);
	border-radius: 5px;
	border: 0px solid #151c25;
	background: var(--foreground-color);
	font-size: 25px;
	padding: 17.9px 8.95px;
	line-height: 0;
	height: 0px;
	position: fixed;
    right: 10px;
}


.item-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
	gap: .40rem;
	margin-top: 2px;
	float: none;
	clear: both;
}

.card {
	border-radius: 5px;
	background-color: var(--foreground-color);
	padding: .4rem;
	font-size: large;
}

.header {
	word-wrap: break-word;
	overflow: hidden;
	text-align: center;
	color: var(--text-color);
	font-weight: bold;
}

.image {
	float: left;
	max-width: 50%;
}

.hide {
	display: none;
}

body {
	background-color: var(--body-color);
}

.SortMenu ul,
.SortMenu li,
.SortMenu {
	margin: 0;
	padding: 0;
	display: block;
}

.SortMenu {
	z-index: 2;
}

.SortMenu ul {
	margin-top: 8px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-52%);
	width: max-content;
	list-style: none;
}

.SortMenu li {
	padding-right: .5rem;
	padding-bottom: 10px;
	float: left;
	position: relative;
	width: auto;
}

.SortMenu a {
	background: var(--foreground-color);
	display: block;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	text-decoration: none;
	transition: all 0.7s ease;
	color: var(--text-color);
	padding: 10px 20px;
	line-height: 1.2;
	height: 15.8px;
}

.SortMenu a:hover, .Menu:hover{
	background: var(--menuHover-color);
}

.SortMenu li:hover .SousMenuScrAZ a,
.SortMenu li:hover .SousMenuScrT a,
.SortMenu li:hover .SousMenuScrL a {
	color: var(--textMenuHoverSubmenus-color);
}

.SortMenuTextAZ,
.SortMenuTextT,
.SortMenuTextL {
	line-height: .6;
	border-radius: 5px;
}

#Sousmenu {
	z-index: 1;
	transition: all .2s ease;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 5px;
}

li:hover #Sousmenu {
	top: auto;
	opacity: 1;
	visibility: visible;
	max-height: 800px;
	transition: all .4s ease;
}

#Sousmenu li {
	padding-bottom: 0px;
	float: none;
	width: 100%;
	line-height: 0.2;
	width: 100%;
	transition: width 0.3s;
}

#Sousmenu li:hover {
	width: calc(100% - 5px);
}

#Sousmenu a:hover {
	transition: all .2s ease;
	color: black;
}

#Sousmenu a {
	background-color: var(--submenus-color);
}

.btn-afficher-plus {
	margin-top: .4rem;
	background-color: var(--foreground-color);
	font-size: 1rem;
	flex-grow: 1;
	color: var(--text-color);
	border-radius: 5px;
	border: 1px solid var(--foreground-color);
}

.No-Results {
	color: var(--text-color);
	font-weight: bold;
	font-size: 1rem;
}

#MenuShow {
	position: fixed;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	background: var(--body-color);
	transform: translateX(100%);
	transition: transform 0.7s;
	z-index: 999;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: 0.93;
	word-wrap: break-word;
}

#MenuShow.active {
	transform: translateX(0);
}

.blurZone {
	filter: blur(0);
	transition: filter 0.5s;
}

.blurZone.blur {
	filter: blur(1.5px);
}


.Menu {
	display: none;
}

.img-switch-mode {
	position: fixed;
    right:  10px;
	display: block;
	cursor: pointer;
}


.color-mode__btn {
	width: 35.8px;
	height: auto;
}

@media screen and (max-width: 628px) {
	.SortMenu {
		display: none;
	}

	.img-switch-mode {
		display: none;
	}

	.img-switch-modeMenu {
		position: relative;
		left: 10px;
		top: 10px;
		cursor: pointer;
	}

	.Menu {
		display: block;
	}
}
